.header-content {
  display: grid;
  color: white;
  height: 125px;
  line-height: 150px;
  background-color: #cbddd1;
  text-align: center;
}

.logo {
  max-height: 125px;
  float: left;
}

img {
  vertical-align: unset;
}

@media(max-width: 850px) {

  .logo {
    float: none;
  }

}
