#header {
    display:grid;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 1em;
}

#title {
    justify-content: center;
    text-align: left;
    font-size: 22px;
    font-family: sans-serif;
    padding: 1em;
    color: white
}
#buttons {
    padding-right: 1em;
}
.button {
    color: white;
}