<div id="padding"></div>
<div id="about">
  <div id="about-text">
    <p>
      Breaking Bulls was created to identify stocks that have recently experienced
      a break above technical resistance. Many investors see these breakouts as
      opportune times to enter into a long or short term trade.
    </p>
    <p>
      <b>Posted content is not trading advice. Trade at your own risk.</b>
    </p>
    <br/>
    <p>Commonly posted patterns:</p>
  </div>
  <div id="breakout-patterns">
    <mat-list>
      <mat-expansion-panel hideToggle class="expansion-panel">
        <mat-expansion-panel-header class="expansion-panel-header">
          <mat-panel-title>Ascending Triangles</mat-panel-title>
        </mat-expansion-panel-header><!--TSLA-->
        <div class="expansion-panel-content">
          <img src="../../assets/images/ascending_triangle.png" class="image"/>
        </div>
      </mat-expansion-panel>
      <div class="expansion-panel-padding"></div>
      <mat-expansion-panel hideToggle class="expansion-panel">
        <mat-expansion-panel-header class="expansion-panel-header">
          <mat-panel-title>Cup and Handles</mat-panel-title>
        </mat-expansion-panel-header><!--AMD-->
        <div class="expansion-panel-content">
          <img src="../../assets/images/cup_and_handle.png" class="image"/>
        </div>
      </mat-expansion-panel>
      <div class="expansion-panel-padding"></div>
      <mat-expansion-panel hideToggle class="expansion-panel">
        <mat-expansion-panel-header class="expansion-panel-header">
          <mat-panel-title>Falling Wedges</mat-panel-title>
        </mat-expansion-panel-header><!--PENN-->
        <div class="expansion-panel-content">
          <img src="../../assets/images/falling_wedge.png" class="image"/>
        </div>
      </mat-expansion-panel>
      <div class="expansion-panel-padding"></div>
      <mat-expansion-panel hideToggle class="expansion-panel">
        <mat-expansion-panel-header class="expansion-panel-header">
          <mat-panel-title>Rectangles</mat-panel-title>
        </mat-expansion-panel-header><!--SPOT-->
        <div class="expansion-panel-content">
          <img src="../../assets/images/rectangle.png" class="image"/>
        </div>
      </mat-expansion-panel>
    </mat-list>
  </div>
</div>
