.chart {
  width:100%;
  height:auto;
}

.chart-border {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #cbddd1;
  padding: 10px;
}

.border-wrapper {
  background-color: white;
  padding: 5px;
}

.chart-wrapper {
  padding: 10px;
}

.chart-content {
  padding: 10px;
}

.chart-meta {
  padding-top: 10px;
}

.chart-padding {
  height: 30px;
  background-color: var(--chart-background-color);
}

.content-padding {
  height: 30px;
  background-color: var(--background-color);
}

.meta-text {
  text-align: center;
  color: #457d58;
  font-family: PT Serif;
  font-weight: 900;
}

h2 {
  margin-block-end: 7px
}

h4 {
  margin-block-start: 7px;
}

@media(max-width: 880px) {

  .border-wrapper.chart-border.rounded {
    border: none;
    background-color: var(--chart-background-color);
  }

}
