  #header {
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(10, 71, 112)
  }
  #body { 
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 1em;
  }
  #leftColumn {
    background-color:rgb(247, 247, 247);
  }
  #rightColumn {
    background-color: rgb(247, 247, 247);
  }
