body {
  margin: 0;
  position: absolute;
}

#main-content {
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 1080px;
}

.border-section-left {
  background-color: var(--background-color);
}

.border-section-right {
  background-color: var(--background-color);
}

#main-section {
  border-top-style: solid;
  border-top-color: var(--background-color);
  border-top-width: 40px;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media(max-width: 800px) {

  #main-content {
    display: block;
    width: 100%;
  }

  #main-section {
    background-color: var(--chart-background-color);
    border-top-width: 30px;
  }
}
