  #header {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 75px;
    background-color: rgb(10, 71, 112)
  }
  #body { 
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 1em;
    grid-auto-rows: 825px;
  }
  #leftColumn {
    background-color:rgb(247, 247, 247);
  }
  #rightColumn {
    background-color: rgb(247, 247, 247);
  }