.images {
    height:480px;
    padding: 20px;
}
.image {
    height:480px;
    padding: 20px;
    display: block;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
