/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --chart-background-color: #fcfffd;
  --background-color: #f3f3f3;
  --nav-color: #d7d7d7;
  --max-width: 800px;
}
